body {
    background-image: url(../foto/achtergrond.jpg);
    font-family: 'Signika', sans-serif;  
}


h1 {
    text-align: center;
    text-shadow: 3px 3px 3px #fff;
    margin-top: 15%;
    color: #0F2936;
    font-weight: bold;
}


.container {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    width: 48%;
    height: auto;
    padding: 5px;
    margin-bottom: 10%;
    margin-top: 4%;
}
.image, .logo {
    cursor: pointer;
    margin-left: 20%;
    width: 170px;
    height: auto;
    margin-top: 10%;
    padding: 1%;
}
.logo:hover{
    box-shadow: 3px 3px 3px #0F2936;
}


footer {
    background-color: #0F2936;
    font-family: 'Signika', sans-serif; 
}
.icon {
    color: #73C1E1;
    font-size: 2rem;
}
.icon:hover {
    color: #fff;
}
.p-4 {
    color: #fff;
}

.author {
    color: #fff;
}

