body {
    background-image: url(../foto/achtergrond.jpg);
}

.container {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    width: 55%;
    height: auto;
    padding: 5px;
    margin-bottom: 10%;
    margin-top: 10%;
}
.image, .logo {
    cursor: pointer;
    margin-left: 13%;
    width: 200px;
    height: auto;
    margin-top: 10%;
    padding: 3%;
}
.logo:hover{
    box-shadow: 3px 3px 3px #0F2936;
}


footer {
    background-color: #0F2936;
}
.icon {
    color: #73C1E1;
    font-size: 2rem;
}
.icon:hover {
    color: #fff;
}
.p-4 {
    color: #fff;
}

