/*** general ***/
* {
    margin: 0;
    padding: 0;
}
body, html {
    height: 100%;
    color: #fff;
    font-family: 'Signika', sans-serif;
}
/*extra responsiveness text*/
@media only screen and (max-width: 600px){
    .intro h1 {
        padding-top: 5rem;
        font-size: 4rem;
    }
    .intro h3 {
        font-size: 1.6rem;
    }
    .intro h2 {
        font-size: 2rem;
    }
}
@media only screen and (min-width: 601px){
    .intro h1 {
        padding-top: 7rem;
        font-size: 5rem;
    }
    .intro h3 {
        font-size: 2rem;
    }
    .intro h2 {
        font-size: 3rem;
    }
}
/*** nav ***/
nav .logo {
    height: 50px;
    width: auto;
}
.hover-effect:hover {
    background-color: #0F2936;
}
/*** header ***/
.parallax {
    background-image: url("img/parallax.jpg");
    height: 100%;
    /*parallax scroll*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*** main ***/
.event {
    color: #09475B;
}
.card {
    background-color: #09475B;
}
.btn {
    color: #fff;
    background-color: #73C1E1;
}
.card-title, #mail:link {
    color: #73C1E1;
}
.card:hover .card-title, #mail:hover {
    color: #fff;
}
.btn:hover {
    color: #fff;
    background-color: #0F2936;
}
hr {
    background-color: #fff;
}

